.advantages {
  background-color: $m-blue;
  background-image: url(../../img/tian-shan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.advantages__wrapper {
  width: 1240px;
  margin: 0 auto;
  padding: 100px 10px;
}

.advantages__title {
  @include main-title;

  color: #ffffff;

  &::before {
    background-color: #ffffff;
  }
}

.advantages__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  width: 290px;
  padding: 100px 10px 10px 10px;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../../img/icons/personal-icon.svg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
  }

  ::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    border: 3px solid rgba(255, 255, 255, 0.15);
  }

  &--in-stock::before {
    background-image: url(../../img/icons/boxes-icon.svg);
    background-size: 72px;
  }

  &--reputation::before {
    background-image: url(../../img/icons/reputation-icon.svg);
    background-size: 65px;
  }

  &--quality::before {
    background-image: url(../../img/icons/price-icon.svg);
    background-size: 55px;
  }
}

.advantages__item-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.advantages__item-description {
  color: #ffffff;
  font-size: 15px;
}

@media (max-width: 500px) {
  .advantages__wrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .advantages__item {
    width: 100%;
    padding: 70px 10px 10px 10px;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: calc(50% - 40px);
      width: 80px;
      height: 80px;
      background-size: 58px;
    }

    ::after {
      height: calc(100% - 55px);
    }

    &--in-stock::before {
      background-image: url(../../img/icons/boxes-icon.svg);
      background-size: 60px;
    }

    &--reputation::before {
      background-image: url(../../img/icons/reputation-icon.svg);
      background-size: 55px;
    }

    &--quality::before {
      background-image: url(../../img/icons/price-icon.svg);
      background-size: 45px;
    }
  }

  .advantages__item-title {
    font-size: 16px;
  }

  .advantages__item-description {
    max-width: 300px;
    margin: 0 auto;
    font-size: 14px;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .advantages__wrapper {
    width: 100%;
    padding: 70px 20px;
  }

  .advantages__item {
    width: 49%;
  }

  .advantages__item-title {
    font-size: 16px;
  }

  .advantages__item-description {
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .advantages__wrapper {
    width: 100%;
    padding: 100px 20px;
  }
  .advantages__item {
    width: 49%;
    margin-bottom: 50px;
  }
}
