.header {
  font-size: 14px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1240px;
  margin: 0 auto;
  padding: 10px 10px;
}

.header__menu-btn {
  display: none;
}

.header__logo-img {
  margin-top: 5px;
  width: 150px;
  height: 62px;
}

.header__contacts-description {
  font-size: 12px;
  margin: 0;
  color: #727272;
}

.header__email-wrapper {
  margin-left: 50px;
}

.header__email-link-wrapper {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -50px;
    width: 36px;
    height: 36px;
    background-image: url(../../img/icons/envelope-icon.svg);
    background-repeat: no-repeat;
  }
}

.header__email-link-wrapper a {
  text-decoration: none;
  color: $m-blue;
}

.header__adress-wrapper {
  margin-left: 30px;
}

.header__adress {
  position: relative;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: $m-blue;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -45px;
    width: 36px;
    height: 36px;
    background-image: url(../../img/icons/placeholder-icon.svg);
    background-repeat: no-repeat;
  }
}

.header__phone-wrapper {
  margin-left: 30px;
}

.header__phone-link-wrapper {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -45px;
    width: 36px;
    height: 36px;
    background-image: url(../../img/icons/smartphone-icon.svg);
    background-repeat: no-repeat;
  }
}

.header__phone-link-wrapper a {
  text-decoration: none;
  color: $m-red;
}

.header__callback-btn {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 0;
  background-color: $m-red;
  color: $font-l;
  text-transform: uppercase;
  padding: 15px 25px;
  font-weight: 700;
  box-shadow: 0px 5px 10px 0 $m-red;
  transition: background-color ease .3s,
    box-shadow ease .3s;

  &:hover,
  &:focus {
    background-color: darken($m-red, 7);
    box-shadow: 0px 2px 7px 0 darken($m-red, 7);
  }

  &:active {
    border: none;
    border-radius: 0;
    background-color: darken($m-red, 12);
    box-shadow: 0px 2px 5px 0 darken($m-red, 12);
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }

  .header__menu-btn {
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 10px;
    color: #777777;
    line-height: 1;
    background: none;
    border: none;
    transition: co9lor ease .3s;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      color: $m-red;
    }
  }

  .header__menu-icon {
    fill: $m-blue;
    transition: fill ease .3s;

    &:hover,
    &:focus,
    &:active {
      fill: $m-red;
    }
  }

  .header__logo-img {
    width: 100px;
    margin-top: 0;
  }

  .header__phone-wrapper {
    // margin-top: 10px;
  }

  .header__contacts-description {
    display: none;
    font-size: 10px;
    line-height: 1.2;
  }

  .header__adress-wrapper,
  .header__email-wrapper,
  .header__callback-btn {
    display: none;
  }

  .header__phone-link-wrapper {
    position: relative;
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: -35px;
      width: 32px;
      height: 32px;
      background-image: url(../../img/icons/smartphone-icon.svg);
      background-repeat: no-repeat;
    }
  }
}

// @media (min-width: 501px) and (max-width: 768px) {

//   .header__wrapper {
//     align-items: center;
//     width: 100%;
//     padding: 10px 20px;
//   }

//   .header__adress-wrapper,
//   .header__email-wrapper {
//     display: none;
//   }
// }

@media (min-width: 769px) and (max-width: 1024px){
  .header__wrapper {
    width: 100%;
    padding: 10px 20px;
  }

  .header__adress-wrapper,
  .header__email-wrapper {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1240px){
  .header__wrapper {
    width: 100%;
    padding: 10px 20px;
  }

  .header__email-wrapper {
    display: none;
  }
}
