.header {
  font-size: 14px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1240px;
  margin: 0 auto;
  padding: 10px 10px;
}

.header__logo-img {
  margin-top: 5px;
  width: 150px;
  height: 62px;
}

.header__contacts-description {
  font-size: 12px;
  margin: 0;
  color: #727272;
}

.header__email-wrapper {
  margin-left: 50px;
}

.header__email-link-wrapper {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -50px;
    width: 36px;
    height: 36px;
    background-image: url(../../img/icons/envelope-icon.svg);
    background-repeat: no-repeat;
  }
}

.header__email-link-wrapper a {
  text-decoration: none;
  color: $m-blue;
}

.header__adress-wrapper {
  margin-left: 30px;
}

.header__adress {
  position: relative;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: $m-blue;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -45px;
    width: 36px;
    height: 36px;
    background-image: url(../../img/icons/placeholder-icon.svg);
    background-repeat: no-repeat;
  }
}

.header__phone-wrapper {
  margin-left: 30px;
}

.header__phone-link-wrapper {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -45px;
    width: 36px;
    height: 36px;
    background-image: url(../../img/icons/smartphone-icon.svg);
    background-repeat: no-repeat;
  }
}

.header__phone-link-wrapper a {
  text-decoration: none;
  color: $m-red;
}

.header__callback-btn {
  cursor: pointer;
  margin-top: 15px;
  border: none;
  border-radius: 0;
  background-color: $m-red;
  color: $font-l;
  text-transform: uppercase;
  padding: 15px 25px;
  font-weight: 700;
  box-shadow: 0px 5px 10px 0 $m-red;
  transition: background-color ease .3s,
    box-shadow ease .3s;

  &:hover,
  &:focus {
    background-color: darken($m-red, 7);
    box-shadow: 0px 2px 7px 0 darken($m-red, 7);
  }

  &:active {
    border: none;
    border-radius: 0;
    background-color: darken($m-red, 12);
    box-shadow: 0px 2px 5px 0 darken($m-red, 12);
  }
}
