.infobox {
  @include list-reset;

  counter-reset: stepslist;
}

.infobox__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 15px;
  padding: 35px 35px 35px 95px;
  font-size: 18px;
  box-shadow: 0 0 2px 0 #a1a1a1;
  transition: box-shadow ease .3s;

  &:hover {
    box-shadow: 0 5px 20px #ccc;
  }

  &::before {
    position: absolute;
    content: "";

    top: 25px;
    left: 30px;
    width: 45px;
    height: 45px;

    counter-increment: stepslist;
    content: counter(stepslist);
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: $m-blue;

    border: 2px solid $m-blue;
    border-radius: 100%;
  }
}

@media (max-width: 500px){
  .infobox__item {
    min-height: 40px;
    margin-bottom: 15px;
    padding: 20px 20px 20px 62px;
    font-size: 14px;

    &::before {
      top: 15px;
      left: 15px;
      width: 35px;
      height: 35px;
      font-size: 18px;
      line-height: 35px;
      border: 1px solid $m-blue;
    }
  }
}

@media (min-width: 501px) and (max-width: 768px){
  .infobox__item {
    min-height: 40px;
    margin-bottom: 15px;
    padding: 20px 20px 20px 75px;
    font-size: 16px;

    &::before {
      top: 15px;
      left: 20px;
      width: 40px;
      height: 40px;
      font-size: 18px;
      line-height: 40px;
      border: 1px solid $m-blue;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .container__wrapper {
    width: 100%;
    padding: 70px 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1240px){
  .container__wrapper {
    width: 100%;
    padding: 100px 20px;
  }
}
