.prefooter {
  background-color: $m-blue;
  background-image: radial-gradient(ellipse at top, #094263 0%, #1d1c2b 100%);
  background-image: -webkit-radial-gradient(center top, ellipse cover, #094263, #1d1c2b 100%);
  color: #ffffff;
}

.prefooter__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
  padding: 100px 10px;
}


.prefooter__title {
  @include main-title;

  color: #ffffff;
  margin-bottom: 20px;

  &::before {
    background-color: #ffffff;
    height: 3px;
    width: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 1px;
    left: -50%;
    width: 200%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.prefooter__description {
  max-width: 720px;
  font-size: 18px;
  text-align: center;
  color: #ffffffbb;
}

.prefooter__notification {
  font-size: 13px;
  color: #ffffff8c;

  & a {
    color: rgb(112, 185, 245);
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(112, 185, 245);
    transition: border-bottom-color ease .3s,
      color ease .3s;

    &:hover,
    &:focus {
      color: $m-red;
      border-bottom-color: $m-red;
    }
  }
}

@media (max-width: 500px){
  .prefooter__wrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .prefooter__title {
    @include main-title;

    color: #ffffff;
    margin-bottom: 20px;

    &::before {
      background-color: #ffffff;
      height: 3px;
      width: 100%;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 1px;
      left: -25%;
      width: 150%;
      height: 1px;
    }
  }

  .prefooter__description {
    font-size: 14px;
  }

  .prefooter__notification {
    text-align: center;
    font-size: 12px;
  }
}

@media (min-width: 501px) and (max-width: 1024px){
  .prefooter__wrapper {
    width: 100%;
    padding: 70px 20px;
  }

  .prefooter__description {
    font-size: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1240px){
  .prefooter__wrapper {
    width: 100%;
    padding: 100px 20px;
  }

  .prefooter__description {
    font-size: 16px;
  }
}
