.single-product__wrapper {
  width: 1240px;
  margin: 0 auto;
  padding: 30px 10px;
}

.single-product__main {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.single-product__content-img-wrapper {
  width: 43%;
}

.single-product__info {
  width: 55%;
}

.single-product__breadcrumbs {
  ul {
    @include list-reset;

    display: flex;
  }

  li {
    position: relative;
    padding-right: 16px;
    font-size: 12px;
  }

  a {
    position: relative;
    color: $l-blue;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: border-bottom-color ease .3s,
      color ease .3s;

    &:hover,
    &:focus {
      color: $m-red;
      border-bottom-color: $m-red;
    }

    &::after {
      position: absolute;
      content: "»";
      top: -6px;
      right: -12px;
      width: 8px;
      height: 8px;
    }
  }
}

.single-product__title {
  font-size: 36px;
  line-height: 1.2;
}

.single-product__section-title {
  @include main-title;

  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}

.single-product__full-description {
  width: 770px;
  margin: 0 auto 50px;

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  ul {
    @include list-reset;

    margin: 10px 0 10px 20px;
  }

  li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 25px;

    &::before {
      position: absolute;
      content: "";
      top: 12px;
      left: 0;
      width: 15px;
      height: 2px;
      background-color: $m-red;
    }
  }

  a {
    color: $l-blue;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $l-blue;
    transition: border-bottom-color ease .3s,
      color ease .3s;

    &:hover,
    &:focus {
      color: $m-red;
      border-bottom-color: $m-red;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background: #f5e8d0;
  }

  td,
  th {
    padding: 5px 10px;
    border: 1px solid #dfdfdf;
  }

  tbody tr:nth-child(even) {
    background: #f5fcff;
  }

  tbody tr:hover {
    background-color: #e2f5ff;
  }
}

@media (max-width: 500px) {
  .single-product__wrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .single-product__main {
    flex-wrap: wrap;
    width: 100%;
  }

  .single-product__content-img-wrapper {
    width: 100%;
  }

  .single-product__info {
    width: 100%;
  }

  .single-product__title {
    font-size: 24px;
    line-height: 1.3;
  }

  .single-product__breadcrumbs {
    ul {
      flex-wrap: wrap;
    }

    li a {
        &::after {
          top: -2px;
        }
      }
  }

  .single-product__full-description {
    width: 100%;
    margin: 0 auto 30px;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 15px;
    }

    ul {
      @include list-reset;

      margin: 10px 0 10px 0;
    }

    li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 20px;

      &::before {
        position: absolute;
        content: "";
        top: 9px;
        left: 0;
        width: 10px;
        height: 2px;
        background-color: $m-red;
      }
    }
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .single-product__wrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .single-product__main {
    flex-wrap: wrap;
    width: 100%;
  }

  .single-product__content-img-wrapper {
    width: 100%;
  }

  .single-product__info {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .single-product__wrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .single-product__main {
    width: 100%;
  }

  .single-product__content-img-wrapper {
    width: 40%;
  }

  .single-product__info {
    width: 58%;
  }

  .single-product__breadcrumbs {
    ul {
      flex-wrap: wrap;
    }

    li a {
        &::after {
          top: -6px;
        }
      }
  }
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .single-product__wrapper {
    width: 100%;
    padding: 100px 20px;
  }
}
