.socials__list {
  @include list-reset;

  display: flex;
}

.socials__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 28px;
  height: 28px;
}

.socials__icon {
  fill: $m-blue;
  transition: fill ease .3s;

  &--whatsapp:hover {
    fill: #1BD741;
  }

  &--telegram:hover {
    fill:#61A8DE;
  }

  &--instagram:hover {
    fill: #C536A4;
  }

  &--vk:hover {
    fill:#44678D;
  }

  &--facebook:hover {
    fill: #3A559F;
  }
}

@media (max-width: 768px) {
  .socials {
    display: none;
  }
}
