.tagline {
  padding: 70px 0 90px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #13547a, #80d0c7 100%);
}

.tagline__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
  padding: 10px 10px;
}

.tagline__title {
  max-width: 780px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.tagline__cta {
  max-width: 580px;
  font-size: 18px;
  text-align: center;
}


@media (max-width: 500px) {
  .tagline {
    padding: 50px 0;
  }

  .tagline__wrapper {
    width: 100%;
    padding: 0 20px;
  }
}

@media (min-width: 501px) and (max-width: 786px) {
  .tagline {
    padding: 50px 0;
  }

  .tagline__wrapper {
    width: 100%;
    padding: 0 20px;
  }
}

@media (min-width: 787px) and (max-width: 1024px) {
  .tagline {
    padding: 100px 20px;
  }

  .tagline__wrapper {
    width: 100%;
    padding: 0 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .tagline__wrapper {
    width: 100%;
    padding: 0 20px;
  }
}
