.works__wrapper {
  width: 1240px;
  margin: 0 auto;
  padding: 100px 10px;
}

.works__title {
  @include main-title;

}

.works__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works__item {
  width: 32%;
  margin-bottom: 20px;
  box-shadow: 0 0 2px rgb(161, 161, 161);
  transition: box-shadow ease .3s;

  &:hover,
  &:focus {
    box-shadow: 0 5px 20px #ccc;
  }

  &:last-child {
    margin-right: 0;
  }
}

.works__tag {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: lighten($m-blue, 25);
  text-align: center;
}

.work__title-link {
  font-size: 20px;
  font-weight: 700;
  color: $m-blue;
  text-decoration: none;
  text-align: center;

  transition: color ease .3s;

  &:hover,
  &:focus {
    color: $m-red;
  }
}

.works__item-title {
  margin: 5px 0 20px;
}

@media (max-width: 500px) {
  .works__wrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .works__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .works__tag {
    font-size: 10px;
  }

  .work__title-link {
    font-size: 16px;
  }

  .works__item-title {
    margin: 5px 0 20px;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .works__wrapper {
    width: 100%;
    padding: 70px 20px;
  }

  .works__item {
    width: 49%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .works__tag {
    font-size: 10px;
  }

  .work__title-link {
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .works__wrapper {
    width: 100%;
    padding: 100px 20px;
  }

  .works__item {
    width: 32%;
    margin-right: 0;
  }

  .works__tag {
    font-size: 10px;
  }

  .work__title-link {
    font-size: 18px;
  }
}
