@mixin btn {
  display: inline-block;
  padding: 20px 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: $white;
  text-shadow: $text-shadow;
  background: $btn-normal;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

@mixin btn-hover {
  display: inline-block;
  padding: 20px 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: $white;
  text-shadow: $text-shadow;
  background: $btn-hover;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

@mixin btn-active {
  display: inline-block;
  padding: 20px 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: $white;
  text-shadow: $text-shadow;
  background: $btn-active;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

@mixin title {
  margin-bottom: 70px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
}

@mixin title-mobile {
  @include title;
  font-size: 32px;
  line-height: 39px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin main-title {
  position: relative;
  font-size: 36px;
  line-height: 1.3;
  padding-bottom: 15px;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #34495e;
  }

  @media (min-width: $phone-width) and (max-width: $tablet-width) {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 30px;

    &::before {
      width: 40px;
      height: 3px;
    }
  }
}

@mixin overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

@mixin pseudo {
  position: absolute;
  content: "";
}
